<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<link href="/templets/{tag:sysbase name='cfg_templatestyle'/}/css/public.css" rel="stylesheet" type="text/css" />
<link href="/templets/{tag:sysbase name='cfg_templatestyle'/}/css/know_detaisled.css" rel="stylesheet" type="text/css" />
{tag:include file="jsinclude.html" /}
<script type="text/javascript" src="/templets/{tag:sysbase name='cfg_templatestyle'/}/js/ask_detail.js"></script>
<title>{tag:field name="title" /}-{tag:chinfo name="ch_title"/}-{tag:sysbase name="cfg_webname"/}</title>
<meta name="keywords" content="{tag:field name="resume_name" /}" />
<meta name="description" content="{tag:field name="content" len="30" /}" />
<script type="text/javascript">
$(document).ready(function(){
   var textstr=$("#contxsfvalue").html();
   if(textstr==0)
   { 
     $("#contxsf").css("display","none");
   }
});
 //我要回答
function myanswers(searchType,id)
{
 var sid="#"+id
 var wd='';//获取搜索的关键字
 var searchtext=$(sid).val();
 if(searchtext!='')
 {
 wd=encodeURIComponent(encodeURIComponent($(sid).val()));
 location.href="/portal/"+searchType+"!list.action?wd="+wd+"&state1=0"; 
 }
 else
 {
  alert("请输入回答内容！");
 }
} 
//搜索框搜索问题
function serarchop(searchType,id,state)
{
 var sid="#"+id
 var wd='';//获取搜索的关键字
 if($(sid).val()!='')
 {
  wd=encodeURIComponent(encodeURIComponent($(sid).val()));
  location.href="/portal/"+searchType+"!list.action?wd="+wd; 
 }
 else
 {
  alert("请输入搜索内容！");
 }
} 
//点击提问的时候保留标题
function changgetext()
{
 $("#ask_titles").val($("#searchanswertext").val());
}
</script>
</head>
<body>
{tag:include file="top.html" /}
<div class="clear"></div>
<!--导航结束-->
<div class="position"><P>当前位置: {tag:field name="page_position"/}正文</P></div>
<div class="w960">
   <div class="left_main f_left">
      <div class="industry_main">
         <h2 class="industry_title" >
         {tag:field name="title" /}
         </h2>
         <br/>
         <P class="xsf">
         <span><span id="contxsf"><span class="xsf_sm" >悬赏分：<span id="contxsfvalue">{tag:field name="integrals" /}</span>  |  </span></span>
           提问者：<span id="askuser"></span> | 浏览次数：<span id="clicks">
         <script src="/include/clicknum.jsp?t=ask&n=ask_id&v={tag:field name='info_id'/}"></script>
         </span>次
         </span>
         <span class="llcs">{tag:field name='in_date' len="19"/}</span>
         </P>
         <div class="clear"></div>
         <P class="indus_m">
         {tag:field name="ask_desc" /}
         </P>
         <input type="hidden" id="comusername" value="{tag:field name='companyusername' /}"/>
         <input type="hidden" id="get_user_name" value="{tag:field name='get_user_name' /}"/>
         <input type="hidden" id="answer_state" value="{tag:field name='answer_state' /}"/>
         <input type="hidden" name="info_id" id="infoids" value="{tag:field name='info_id' /}"/>
         <input type="hidden" id="titles" value="{tag:field name='title' /}"/>
      </div>
 <!--  我帮他解答开始-->  
 <div id="appenanswer">
 </div>   
<!--  我帮他解答结束-->    
    <!--最佳答案开始-->
     <div class="wljd" id="bastanswer" style="display: none;"> 
        <div class="dn_t"><h2 class="dn_title">最佳答案</h2></div>
        <div class="dn_c">
            <P class="dn_c_m" id="bestcontent"></P>
            <div class="zj_d"><P class="zj_sj" >回答者：<span id="bestuser"></span> | 回答时间：<span id="bestdate"></span>  </P></div>
            <div class="clear"></div>
        </div>
        <div class="dn_d"></div>
    </div>
    <!--回答开始-->
    <div class="hd">
        <p class="hd_title">回答 共<span id="countnum1" style="color: red;"></span> 条</p>
        <!-- 动态添加回答内容开始 -->
        <div id="answers">
        </div>
       <!-- 动态添加回答内容结束 -->
    </div>
     <!--相关问题开始-->
     <div class="hd">
       <h2 class="xg_titel">相关问题</h2>
       <ul class="gx_cont">
          {tag:askArticleList row="5" cat_attr='{tag:field name="cat_attr" /}'}
          <li><a href="[field:know_detail_url/]">[field:title?len(38)/]</a><span>[field:in_date?len(10)/]</span></li>
          {/tag:askArticleList}
       </ul>
     </div>
 </div>
 


  
   
   
   <div class="right_main f_right">
   <div class="all">
        <div class="all_l f_left"></div>
        
        
         <div class="all_c f_left">
              <input type="text" id="searchanswertext"  onblur="changgetext();" class="input_text"/>
              <div class="input_buttom"><input type="button" value="搜索问题" onclick="serarchop('know','searchanswertext');" class="k_da f_left"/>
              <input type="button" value="我要提问"  onclick="document.myAskForm.submit();" class="k_tw f_left"/>
              <input type="button" value="我要回答" onclick="myanswers('know','searchanswertext');" class="k_tw f_left"/>
        </div>
         <form action="/member_Ask_cate.action" name="myAskForm" method="post">
			<input type="hidden" name="loc" value="" />
			<input type="hidden" name="ask.title" id="ask_titles"  />
	    </form>
	   <script>
		 document.myAskForm.loc.value ="/member_Ask_cate.action";
	   </script>
        </div>
        
        
      
        <div class="all_r f_left"></div>
     </div>
     <div class="clear"></div>
     <div class="ph">
      <h2 class="title_text">推荐问题</h2>
      <ul class="ph_main">
         {tag:asklist row="10" is_recom="1"}
         <li><a href="[field:know_detail_url/]">[field:title?len(18)/]</a></li>
         {/tag:asklist}
      </ul>
   </div>
   <div class="ad">
     {tag:advlist row="1" pos_id="81"}
       <a href="[field:link_url/]" target="_blank">
		    <img src="[field:img_path/]" alt="[field:adv_name/]" width="268"/>
	   </a>
     {/tag:advlist}
   </div>
   <div class="ad">
     {tag:advlist row="1" pos_id="82"}
       <a href="[field:link_url/]" target="_blank">
		        <img src="[field:img_path/]" alt="[field:adv_name/]" width="268"/>
		</a>
     {/tag:advlist}
   </div>
  </div>
</div>


<div class="clear"></div>


{tag:include file="bottom.html" /}
</body>
</html>
