.bar{
	float:left;
	width:230px;
	}
.barD{
	width:230px;
	border:1px solid #dfdfdf;
	margin-bottom:15px;
	}	
.barD h2{
	font-size:14px;
	border:1px solid #fff;
	height:29px;
	line-height:29px;
	background:url(../images/barDH2_07.jpg) repeat-x;
	padding-left:15px;
	}
/*商家信息开始*/	
.shopPpromise li {
    float: left;
    height: 55px;
    line-height: 80px;
    margin-right: 6px;
    margin-top: 2px;
    overflow: hidden;
    text-align: center;
    width:59px;
   }
.shopPpromise{   
    height:55px;
	margin:10px 0 0 25px;
    background:url(../images/bz.png) no-repeat;
   }
.shopIntro{
    padding-top: 4px;
	} 
.shopIntro,.extend,.other {
    border-top: 1px dotted #CCCCCC;
	margin:5px 6px;
	padding-top:5px;
}	
.shopRate h4 {
    padding: 2px 0 3px 10px;
	font-size:12px;
   }
.shopRate .compare {
    margin-left: 3px;
   }
.shopRate .compare {
    color: #808080;
    font-weight: normal;
    margin-left: 15px;
   }  
.shopRate ul li {
	height:22px;
	padding-left:15px;
   }
.shopRate b,.shopRate b {
    background:#A1001A;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: normal;
    height: 15px;
    margin: 0 5px 0 13px;
    padding: 1px 2px 1px 3px;
    vertical-align: middle;
   }  
.shopRate em.count {
    color: #2953A6;
   }
.shopRate em{
    color: #A1001A;
    font-size: 12px;
    font-weight: 700;
    } 
.shopRate .lower em{
    color: #217311;
    font-size: 12px;
    font-weight: 700;
    }	
.shopRate .lower b{
    background:#217311;
    border-color: #217311;
   }
   
.extend li {
    line-height:22px;
    } 
.extend label {
    float: left;
    font-family: '宋体';
    margin-top: 1px;
    }	
.other a{
	display: inline-block;
    height: 30px;
	width:84px;
	margin:10px 0 0 10px;
	
	}	
.other .enter {
	background:url(../images/sc_19.jpg) no-repeat;
    }
.other .enterl {
	background:url(../images/lx_19.jpg) no-repeat;
    }	
.search_cont{
	background:#F8F8F8;
	border-top:1px solid #E6E6E6;
	text-align:center;
	padding:10px 0;
	}

.search_cont_P1{
	padding:10px 0 0 20px;
	}
.search_cont .search_b{
	background:url(../images/shopSear.gif);
	border:none;
	width:82px;
	height:25px;
	margin:10px 0 0 50px; 
	font: bold 12px ' ';
	}
.search_cont input{
	border-top:1px solid #a7a6aa;
	border-left:1px solid #a7a6aa;
	border-right:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	margin-right:5px;
	}		


.Sidebar{
	margin-bottom:10px;
	}
.Sidebar h2{
	border:1px solid #ac0909;
	height:30px;
	font-size:14px;
	line-height:30px;
	background:url(../images/title_03.jpg) repeat-x;
	}
.Sidebar h2 span{
	background:url(../images/titleM_06.jpg) no-repeat 10px center;
	padding-left:20px;
	color:#FFF;
	}	
.all{
	padding-top:10px;
	padding-bottom:10px;
	}
.all .allP{
	font-weight:bold;
	color:#FFF;
	height:32px;
	line-height:32px;
	border:none;
	margin-top:10px;
	background:url(../images/listT_26.jpg) no-repeat left center;
	padding-left:20px;
	}
.all .ph a{
	font-size:12px;
	color:#515151;
	display:inline-block;
	margin:10px 10px 0 0;
	}
.all li a:hover{
	font-size:12px;
	color:#515151;
	}						
.sideFl,.links{
	margin:0 auto;
	padding:0 15px;
	border:1px solid #dfdfdf;
	border-top:none;
	padding-bottom:10px;
	}	
.sideFl .zk li{
	color:#c6c6c6;
	height:31px;
	line-height:32px;
	font-size:14px;
	background:url(../images/barList.gif) no-repeat;
	background-position:10px -12px;
	padding-left:20px;
	border-bottom:1px dashed #e7e7e7;
	}
.zk li.zkT a,.all li.allP a{
	color:#FFF;
	font-size:14px;
	}
.zk li.zkT a:hover,.all li.allP a:hover{
	color:#FFF;
	font-size:14px;
	text-decoration:underline;
	}		
.sideFl li.zkT{
	font-weight:bold;
	color:#FFF;
	height:32px;
	line-height:32px;
	border:none;
	margin-top:10px;
	padding-left:10px;
	background:url(../images/listT_26.jpg) no-repeat left center;
	}
.zkT .zkTs{
	background:url(../images/barList.gif) no-repeat;
	background-position:0 3px;
	padding-left:15px;
	}
.zkT .gbTs{
	background:url(../images/barList.gif) no-repeat;
	background-position:0 -39px;
	padding-left:15px;
	}		
.sideFl a{
	font-size:14px;
	color:#b50c0c;
	}
.sideFl a:hover{
	font-size:14px;
	text-decoration:underline;
	color:#b50c0c;
}
.links{
	padding-top:5px;
	}
.links li{
	line-height:32px;
	font-size:14px;
	}
.links a{
	color:#d00202;
	text-decoration:underline;
	}
.links a:hover{
	color:#6f6f6f;
	text-decoration:none;
	}		

/*左边结束*/

.contR{
	width:730px;
	float:right;
	}	
.mainT{
	width:730px;
	border:1px solid #ac0909;
	height:30px;
	font-size:14px;
	line-height:30px;
	background:url(../images/title_03.jpg) repeat-x;
	}
.mainT span{
	background:url(../images/titleM_06.jpg) no-repeat 10px center;
	padding-left:20px;
	color:#FFF;
	}	


















	
.goods{
	width:760px;
	_width:730px;
	padding-bottom:15px;
	overflow:hidden;
	}
.goods li{
	float:left;
	width:222px;
	height:345px;
	padding-right:30px;
	_padding-right:21px;
	text-align:center;
	padding-top:15px;
	}
.goods	.last_goods{
	padding:0;
	}
.goods li img{
	padding-bottom:12px;
	width:216px;
	height:263px;
	}
.goods li .price{
	padding-top:15px;
	}
.market{
	font-size:12px;
	color:#929292;
	}
.market span{
	text-decoration:line-through;
	}	
.sold{
	font-size:14px;
	font-weight:bold;
	color:#9e0000;
	padding-left:20px;
	}