body {
    margin:0;
    padding:20px 0 0 0;
    font-size: 12px;
    font-family:tahoma,arial,宋体;
	color:#333;
   }

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

div, ul,li, p, h2,h3 ,table{
    margin: 0;
    padding: 0;
    border: none;
}
a{
	text-decoration:none;
	color:#333;
	}	
a:hover{
	text-decoration:underline;
	color:#FF7300;
	}	
.f_left{
	float:left;
	}
.f_right{
	float:right;
	}	
img {
    border: 0;
}	
.clear {
    clear: both;
}

.w960{
	width:960px;
	margin:0 auto;
	padding-top:10px;
	}

.top{
	width:960px;
	margin:0 auto;
	border-bottom:2px solid #D8D8D8;
	padding-bottom:15px;
	}
.logo{
	float:left;
	padding:10px 0 0 10px;
	}	
.top_right{
	float:right;
	text-align:right; 
	line-height:30px;
	}	

.w960{
	width:960px;
	margin:10px auto 0;
	}

	
.sorry-pic{
    background: url(../images/cry.gif) no-repeat;
    display: inline;
    float: left;
    height:140px;
    margin: 45px 24px 0 48px;
    width:160px;
   }
.sorry-content {
    display: inline;
    float: left;
    margin: 54px 0;
   }
.sorry-content h2 {
    color: #000000;
    font: bold 16px '宋体';
    margin-bottom: 30px;
   }
.sorry-content p {
    color: #333333;
    font-size: 14px;
    height: 24px;
   }
.sorry-content p a {
    color: #1B76D1;
    padding: 0 8px;
   }


	
.bottom{
	width:960px;
	margin:0 auto;
	border-top:2px solid #D8D8D8;
	margin-top:10px;
	text-align:center;
	line-height:25px;
	}	
.web_map{
	padding-top:18px;
	}	
.web_map a {
	text-decoration:none;
	padding:0 15px;
	border-right:1px solid #000;
	}
.web_map a:hover{
	text-decoration:underline;
	}			
.bottom{
	line-height:28px;
	text-align:center;
	}	
.bottom_pic{
	padding-top:10px;
    width:400px;
    margin:0 auto;
	}
.bottom_pic img{
	float:left;
	padding-bottom:10px;
	padding-right:10px;
	}	
.map{
	height:30px;
	margin-top:10px;
	line-height:30px;
	}	
.map p{
	width:960px;
	margin:0 auto;
	text-align:center;
	}
.map a{
	color:#07519a;
	margin-right:10px;
	padding-right:10px;
	border-right:1px solid #07519a;
	}		
.map .last_map{
	border:0;
	}