/*
 ISConsole Copyright 2011 ruibaotong COMPANY, Co.ltd . 
 All rights reserved.
 FileName: public.css
 */

body{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:"����";
	background-color:#e2f3fb;
}

ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

div,ul,p,h1,h2,h3{
	margin:0;
	padding:0;
	border:none;
		font-size:12px;
	font-weight:400;
}

img{
	border:0;
}

a{
	text-decoration:none;
	color:#333333;
	font-size:12px;
	font-weight:400;
}
a:hover{
	text-decoration:none;
	color:#3170a8;
}

.w960{
	width:960px;
	margin:0 auto;
	margin-top:10px;
}

.f_left{
	float:left;
}
.f_right{
	float:right;
}
.clear{
	clear:both;
}


.user_top{
	width:100%;
	height:26px;
	background:url(../images/user_top.gif) repeat-x;
}
.user{
	width:960px;
	height:26px;
	margin:0 auto;
	line-height:26px;
}
.user span{
	padding-left:20px;
}
.user a{
	color:#000000;
}

.logo_top{
	width:960px;
	height:80px;
}
.logo_pad{
	padding-left:25px;
}
.logo{
	width:730px;
	}
.logo_name{
	font-family:"����";
	color:black;
	font-size:20px;
	padding-left:10px;
	}
.logo_name span{
	font-size:30px;
	padding-bottom:10px;
	}	
.nav{
	width:960px;
	height:33px;
	overflow:hidden;
}
.nav_l{
	width:6px;
	height:33px;
	background:url(../images/nav_l.gif) no-repeat;
}
.nav_r{
	width:5px;
	height:33px;
	background:url(../images/nav_r.gif) no-repeat;
}
.nav_c{
	width:949px;
	height:33px;
	line-height:33px;
	background:url(../images/nav_c.gif) repeat-x;
}
.nav_c ul{
	padding-left:10px;
}
.nav_c li{
	float:left;
	width:85px;
	height:33px;
	line-height:33px;
	text-align:center;
	background:url(../images/nav_bar.gif) no-repeat right center;
}
/*************更多菜单的导航样式****************/
.nav_s{
    width:100px;
    border:1px solid;red;
	background-image:url(../images/nav_c.gif);
}
.nav_s li{
	float:left;
	width:104px;
	height:33px;
	line-height:33px;
	text-align:center;
}
.nav_s a{
	font-size:13px;
	font-weight:bold;
	color:#FFF;
}
.nav_s a:hover{
	font-size:13px;
	font-weight:bold;
	color:#7D0001;
	text-decoration:underline;
}
/*************更多菜单的导航样式****************/
.last_nav{
	background:none;
}
.nav_c a{
	font-weight:bold;
	color:#FFF;
}
.nav_c a:hover{
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-decoration:underline;
}
.nav_c .nav_hover a,.nav_c .nav_hover a:hover{
	display:inline-block;
	width:81px;
	line-height:22px;
	height:22px;margin-top:6px;
	background:url(../images/nav_c_hover.gif) no-repeat;
	text-align:center;
	color:#0d356b;
	}

.position{
	height:25px;
	line-height:25px;
	width:960px;
	margin:10px auto 0;
	}
.wz{
	font-size:14px;
	}	
.data{
	padding-right:10px;
	}	

.title{
	width:202px;
	height:24px;
	background:url(../images/title.gif);
	line-height:28px;
}
.r_title{
	width:744px;
	height:28px;
	background:url(../images/ltitle.gif);
	line-height:28px;
}
.title_font{
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	color:#0078b3;
}
.more{
	font-size:12px;
	font-weight:100;
	margin-right:10px;
	color:#0078b3;	
}
.notice{
	width:204px;
}
.notice_c{
	width:202px;
	background-color:#ffffff;
	border:#8cd2ef solid 1px;
	line-height:22px;
}
.notice_c p{
	color:#333333;
    padding:10px;
	text-indent:24px;
}
.news{
	width:204px;
	padding-top:10px;
}
.new_c{
	width:202px;
    background:#ffffff;
	border:#8cd2ef solid 1px;
	line-height:22px;	
	padding-
}
.new_c ul{
	padding:5px 0;

}
.new_c li{
	background:url(../images/li.gif) no-repeat 10px center;
	padding-left:20px;
}
.new_c a{
	color:#333333;
}
.new_c a:hover{
	text-decoration:underline;
	color:#333333;
}
.search{
	width:204px;
	height:104px;
	margin-top:10px;
}
.l_search{
	width:3px;
	height:102px;
	background:url(../images/l_sreach.gif) no-repeat;
}
.r_search{
	width:3px;
	height:102px;
	background:url(../images/r_search.gif) no-repeat;
}
.search_c
{
	width:198px;
	height:102px;
	background:url(../images/m_search.gif) repeat-x;
}

.new_ct ul>li{
	line-height:20px;
}


.sea_text{
	height:22px; 
	width:173px;
	margin:15px 0 0 10px; 
	line-height:22px;
	border:1px solid #CCC;
	}
.search_d{
	width:173px;
	margin:0 auto;
	padding-top:15px;
	}	
.sea_button{
	width:66px; 
	height:24px;
	border:0; 
	background:url(../images/search.gif) no-repeat;
	}	

.contact{
	width:204px;
	height:160px;
	margin-top:10px;
}
.contact_c{
	width:202px;
	height:128px;
    background-color:#ffffff;
	border:#aaaaaa solid 1px;
	border-top:0;
	line-height:22px;
	color:#333333;
}
.contact_c ul{
	padding-top:10px;
	padding-left:10px;
}
.contact_c li{
	background:url(../images/li.gif) no-repeat left center;
	padding-left:10px;
}

.map{
	width:100%;
	background:#b8e0f0;
	line-height:30px;
	height:25px;
	margin-bottom:10px;
}
.bottom{
	width:100%;
	text-align:center;
	margin:0 auto;
	padding-top:10px;
	margin-bottom:20px;
	color:#1b1b1b;
}
.sm{
	width:400px;
	line-height:28px; 
	float:left; 
	padding-left:10px;
	font-size:14px;
	color:#0078b3;
	font-weight:bold;
	}	
.sm_sj{
	float:right;
    padding-right:20px;
	padding-top:8px;
	}	
.comp_porod_sm,.comp_porod_pl{
	width:744px;
	border:1px solid #8cd2ef;
	background:white;
	padding-bottom:10px;
	}	
.comp_porod_sm p{
	text-indent:24px;
	line-height:22px;
	padding:15px 20px 0  20px;
	}	
	
/*ѯ�۱���ͼƬ*/

.inqiurybtn{
	background:url(../images/inquiry.gif) no-repeat;	
	width:84px;
	height:30px;	
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	line-height:30px;
	padding-left:20px;
}

/*Vip����ͼƬ*/

.vipBackImg{
	background:url(../images/vip_pic.gif) no-repeat;	
	width:121px;
	height:43px;	
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	line-height:21px;
	padding-left:45px;
}

/*��ҳ��ʽ��ʼ*/
.sy{
	width:40px;
	height:22px;
	vertical-align:middle;
	display:inline-block;
	background:url(/include/images/last.jpg) no-repeat
}
.up{
	width:56px;
	height:22px;
	vertical-align:middle;
	display:inline-block;
	background:url(/include/images/up.jpg) no-repeat;
}
.upno{
	width:56px;
	height:22px;
	vertical-align:middle;
	display:inline-block;
	background:url(/include/images/upno.jpg) no-repeat;
}
.nextno{
	width:56px;
	height:22px;
	vertical-align:middle;
	display:inline-block;
	background:url(/include/images/nextno.jpg) no-repeat;
}
.next{
	width:56px;
	height:22px;
	vertical-align:middle;
	display:inline-block;
	background:url(/include/images/next.jpg) no-repeat;
}

.comp_porod_title{
	width:744px;
	height:28px;
	background:url(../images/ltitle.gif);
	
	}
/* ͼƬ������ʽ��ʼ */
.divMiddle{
	 display:table-cell !important;	
	 display:block;	
	 position:static !important;	
	 position:relative;	
	 overflow:hidden;	
	 border:1px solid #e1e2e3;	
	 vertical-align:middle;	
	 text-align:center;
	}	
.AMiddle{
    display:table-cell !important;
    display:block;
	margin:0;
	position:static !important;
	position:absolute;
	top:50%;
	left:50%;	
	margin-left:auto;
	margin-right:auto;
}
.ImgMiddle{
	position:static !important;
    position:relative;
    top:auto !important;
    top:-50%;
    left:auto !important;
    left:-50%;  
	}
/* ͼƬ������ʽ���� */
.new_ct{
	width:202px;
    background:#ffffff;
	border:#cccccc solid 1px;
	border-top:0;
}
.new_ct ul{
	padding:5px 0;
	line-height:22px;	
}
.new_ct li{
	padding-left:10px;
}
.new_ct .lineli{
	background:url(../images/line.gif) no-repeat bottom;
	margin-bottom:5px;
} 
.new_ct a{
	color:#0769be;
}
.new_ct .padnewa{
	padding-left:10px;
}
.new_ct a:hover{
	color:#cc0000;
}