/*
 ISConsole Copyright 2011 ruibaotong COMPANY, Co.ltd . 
 All rights reserved.
 FileName: subject.css
 */
@import url("public.css");
.position{
	height:33px;
	background:#f6f5f5;
	width:960px;
	margin:10px auto 0;
	line-height:33px;
	font-size:14px;
	}
.position p{
	padding-left:20px;
	}
	
	
.headline{
	width:960px;
	height:33px;
	margin-top:10px;	
}
.l_line{
	width:1px;
	height:33px;
	background:url(../images/l_title.gif) no-repeat;
}
.m_line{
	width:958px;
	height:33px;
	background:url(../images/m_title.gif) repeat-x;
	font-size:14px;
	color:#333333;
	line-height:33px;	
}
.m_line span{
	padding-left:20px;
}
.l_body{
	width:682px;
}
.r_body{
	width:268px;
}

/*��ҵ���*/
.industry_main{
	width:680px;
	border:1px solid #e5e5e5;
	border-top:2px solid  #a0ddff;
	padding-bottom:10px;
	}
	
.industry_title{
	margin-top:10px;
	font-size:14px;
	color:#07519a;
	line-height:22px;
	height:22px;
	padding-left:30px;
	}	

.dis_more{
   overflow:hidden;
}

.display_more{
	margin-top:-20px;
	margin-left:26px;		
}
.display_more a{
	color:#990000;
	font-size:12px;
	font-size:600;
	}
	
.title_tb{
	padding-top:10px;
	padding-right:5px;
	}

.industry_main div {
	line-height:30px;
	padding-left:30px;
	padding-top:10px;
	}
.industry_main div a{
	display:inline-block;
	width:210px;
	}
/*ר8��Ϣ*/
.columns{
	width:680px;
	border:#e5e5e5 solid 1px;
	border-top:2px solid  #a0ddff;
	padding-top:6px;
}
.co_content
{
	width:640px;
	height:118px;
	background:url(../images/dashed_1.gif) repeat-x bottom;
	line-height:25px;
	font-size:12px;
	color:#333333;
	margin:0 auto;
}
.co_font{
	font-weight:bold;
	padding-top:10px;
}
.co_color{
	color:#07519a;
}
.co_color2{
	color:#c91010;
}
.co_content p{
	padding-left:20px;
}
.co_content span{
	color:#07519a;
}

.page_main{
	width:660px;
	height:56px;
	margin-left:10px;
	padding-top:20px;
	}

.page_main_r{
	width:450px;
	height:40px;
	margin-left:80px;
	_margin-left:30px;
	}
	
.page_next{
	width:59px;
	height:19px;
	border:1px solid #abb2bd;
	background:url(../images/page_next1.gif) no-repeat;
	margin-right:8px;
	display:inline-block;
	line-height:19px;
	text-align:center;
	}
.page_next1{
	width:59px;
	height:19px;
	border:1px solid #abb2bd;
	background:url(../images/page_next.gif) no-repeat;
	margin-right:8px;
	display:inline-block;
	line-height:19px;
	text-align:center;
	}	
	
.page_n1{
	width:18px;
	height:18px;
	border:1px solid #abb2bd;
	background:url(../images/number_bg.gif) repeat-x;
	display:inline-block;
	margin-right:8px;
	line-height:18px;
	text-align:center;
	}
	
.page_n2{
	width:28px;
	height:18px;
	border:1px solid #abb2bd;
	background:url(../images/number_bg.gif) repeat-x;
	display:inline-block;
	margin-right:8px;
	line-height:19px;
	text-align:center;
	}
	
.page_main_r a:hover{
	border:1px solid #F60;
	display:inline-block;

	}
	
.page_main_input{
	width:50px;
	height:15px;
	border:1px solid #abc7ff;
	margin:auto 10px;
	}
	
.right_bottom{
	width:640px;
	padding-top:15px;
	padding-left:20px;
	height:60px;
	}
	
.right_bottom img{
	padding-left:5px;
	}
/*�������*/
.right_main{
	width:268px;
	}	
/*���������*/
.area_title{
	width:266px;
	height:26px;
	border:1px solid #e5e5e5;
	background:url(../images/area_title_bg.gif) repeat-x;
	}
.title_text{
	font-size:12px;
	font-weight:bold;
	color:#333333;
	line-height:26px;
	padding-left:10px;
	float:left;
	}
		
.area_main{
	width:256px;
	border:1px solid #e5e5e5;
	border-top:0;
	margin-bottom:10px;
	padding:10px 0 10px 10px;
	}

.area_main a{
	display:inline-block;
	width:58px;
	line-height:22px;
	}
	
/*��������*/
.ph_main{
	width:266px;
	height:auto;
	border:1px solid #e5e5e5;
	border-top:0;
	}
	
.ph_main li{
	padding-left:12px;
	line-height:28px;
	}
.n1{
	text-align:center;
	color:#FFF;
	display:inline-block;
	width:14px;
	line-height:28px;
	background:url(../images/pic_ph_bg01.gif) no-repeat;
	background-position:left 7px;
	}
	
.n2{
	text-align:center;
	color:#000;
	display:inline-block;
	width:14px;
	line-height:28px;
	background:url(../images/pic_ph_bg01.gif) no-repeat;
	background-position:left -20px;
	}
	
.ph_main a{
    padding-left:8px;
	}

.ad{
	margin-top:10px;}
	
.text_ad{
	padding-top:20px;
	padding-left:5px;
	line-height:22px;
	}
	
.ad_text{
	color:#bf0303;
	}
