.position{
	height:33px;
	line-height:33px;
	background:url(../images/position_03.gif) no-repeat left center;
	padding-left:20px;
	border-bottom:1px solid #dcdcdc;
	width:960px;
	margin:0 auto;
	}
	
.location {
    background:#A10000;
    background-position:0 0;
    height:35px;
    width:560px;
    }
.location .em {
    color: #FFFFFF;
	}
.location span {
    color: #666666;
    display: inline-block;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    width: 180px;
    }	
	
.location{
    background: url(../images/bg.gif) no-repeat;
   }	
.cartProduct{
	border: 1px solid #DCDFE5;
    padding: 1px;
	margin-top: 10px;
	 }
table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: 100%;
   }
.cartProduct th.product {
    width: 380px;
    }
.cartProduct th{
    background:#8f8f8f;
    color: #FFFFFF;
    }

table th {
    height: 35px;
    line-height: 35px;
   }
table td {
    padding: 10px 0;
   }   
table th, table td {
    text-align: center;
    vertical-align: middle;
   }
.cartProduct th.size {
    width: 245px;
   }
.cartProduct th.point,.cartProductth.price,.cartProductth.amount {
    width: 70px;
    }
.cartProduct th.present {
    width: 80px;
   }
.cartProduct th.operate {
    width: 85px;
   }  
table td img {
    border: 1px solid #C8C8C8;
    height: 48px;
    width: 48px;
	vertical-align: middle;
   }
table td.name {
    text-align: left;
    width: 200px;
    } 
.modify-qty {
    margin: 0 auto;
    width: 100px;
   }
.modify-qty img{
	border: 0 none;
	cursor:pointer;
    display: inline-block;
    height: 11px;
    line-height: 11px;
    vertical-align: middle;
    width: 11px;
	} 
.cartProduct input {
    height: 15px;
    width: 20px;
    }
 	     	       	 



.pay_bar{
	border:1px solid #dcdcdc;
	width:978px;
	margin-top:10px;
    }
.pay_bar ul{
	background:url(../images/pay_bar_bg.png) repeat-x center;
    color:#333333;
    height:38px;
	margin:1px;
	}
.pau_bar ul li{
	height:38px;
	line-height:38px;
	}	
.pay_bar .op {
    float: left;
	_padding-top:7px;
	line-height:38px;
  } 	
.pay_bar ul li input {
    vertical-align: -2px;
   }
.pay_bar a{
    color: #014CCC;
	margin: 0 5px 0 10px;
   }
.pay_bar a:hover{
    color: #014CCC;
	text-decoration:underline;
   }   
.pay_bar .total {
    margin: 0 10px 0 15px;
   }
.pay_bar .price{
    line-height: 30px;
    margin-left:130px;
	width:300px;
	float:left;
   } 
.pay_bar .price span {
    color:#FF5500;
	font-size:22px;
    margin-right: 3px;
   } 
.goOn{
	 float:right;
	 height:38px;
	 line-height:38px;
	  } 
.goOn img{
	vertical-align:middle;
	margin-right:10px;
	_margin-top:4px;
	}
	
	
.tab {
    border-bottom: 2px solid #6F0019;
    height: 33px;
    overflow: hidden;
    }
	
.tab li {
    border: 1px solid #D6D6D6;
    display: inline;
    float: left;
    height: 31px;
    line-height: 31px;
    margin-right: 2px;
    text-align: center;
    width: 108px;
	background: url(../images/tab.gif) repeat-x;
  }
.tab .selected {
    background-color: #A10000;
    background-position: 0 -31px;
    border: 1px solid #6F0019;
   }
.tab .selected a,.tab .selected a:hover{
	color:#fff;
	 }
.tab li a,.tab li a:hover{
	color:#333;
	 } 	
	 
.productList{
	width:978px;
	clear:both;
	padding:15px 0;
	border: 1px solid #DCDFE5;
	border-top:0;
	}
.productList li {
    margin-left: 0;
    display: inline;
    float: left;
    margin-left:27px;
    width: 130px;
   }
.productList img {
    border: 1px solid #C8C8C8;
    height: 130px;
    width: 130px;
    }
.productList .name {
	line-height:20px;
    overflow: hidden;
    }
.productList .price {
    color: #A10000;
	width:100px;
   }
.trackI{
    width:81px;
	height:21px;
	background:url(../images/track.gif) no-repeat;
	border:0;
	cursor:pointer;
	margin-top:5px;
	  } 		