.position{
	height:33px;
	background:#f6f5f5;
	width:960px;
	margin:10px auto 0;
	line-height:33px;
	font-size:14px;
	}
.position p{
	padding-left:20px;
	}


.company_intro{
	border:1px solid #e5e5e5;
	padding-bottom:10px;
	}
.company_intro_t{
	width:938px;
	height:33px;
	background:url(../images/flll_bg.gif) repeat-x;
	font-size:14px;
	line-height:33px;
	padding-left:20px;
	}
	
table{
	margin:20px auto 0;
	}	
table .td_l{
	background:#f8f8f8;
	text-align:right;
	padding-right:20px;
	color:#333;
	font-size:14px;
	}	
td{
	background:#FFF;
	height:30px;
	}	
.red{
	color:#F00;
	}
table input{
	margin-left:20px;
	width:180PX;
	}
table .nmly{
	width:auto;
	margin:0 10px;
	}
table .yzm{
	width:80px;
	}				
textarea{
	margin-left:20px;
	}	
.tj{
	width:75px; 
	height:25px;
	border:0; 
	background:url(../images/ly.gif) no-repeat; 
	color:#FFF; 
	font-weight:bold;
	cursor:pointer;
	}	
.cz{
	width:75px; 
	height:25px;
	border:0; 
	background:url(../images/ly_cz.gif) no-repeat; 
	color:#000; 
	font-weight:bold;
	cursor:pointer;
	}	
<!--返回头部样式-->
#bd{
 _height:99.7%;
 margin:0 1px;
 _overflow:auto;
 word-break:break-all;
 _width:100%;
}
#floater{
 word-break:break-all;
 position:fixed;
 _position:absolute;
 right:160px;
 bottom:20px;
 background:white;
}

.backToTop {
    display: none;
    width: 18px;
    line-height: 1.2;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 160px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}
