.position{
	height:33px;
	background:#f6f5f5;
	width:960px;
	margin:10px auto 0;
	line-height:33px;
	font-size:14px;
	}
.position p{
	padding-left:20px;
	}
	
	
.cont{
	width:960px;
	margin:10px auto 0;
	background:#1C1C1D;
	padding-bottom:10px;
	}	
.pic_m_t{
	height:50px;
	padding-bottom:10px;
	width:960px;
	padding-top:10px;
	border-bottom:1px solid #505050;
	}	
.pic_m_t P{
	padding:0 20px;
	}	
.pic_m_tt{
	color:#FFF;
	line-height:30px;
	text-align:center;
	}	
.pic_m_title{
	font-family:"微软雅黑";
	font-size:18px;
	}	
.pages{
	color:#777777;
	font-family:"微软雅黑";
	padding:0 10px;
	float:left;
	}
.pic_cont{
	width:960px;
	padding:10px 0;
	border-bottom:1px solid #505050;
	}
.pic_cont_left{
    padding-left:110px;
}	
.pic_main{
	width:940px;
	margin:0 auto;
	text-align:center;
	}	
.pic_desc1{
	color:#fff;
	padding-top:10px;
	line-height:22px;
	}	
.pic_desc2{
	color:#fff;
	padding-top:10px;
	padding-left:20px;
	line-height:22px;
	}	
.qtcz{
	line-height:25px;
	height:25px;
	text-align:right;
	padding:10px 20px 0 0;
	color:#777777;
	}	
.wb a{
	background:url(../images/LOGO16.png) no-repeat left center;
	padding-left:20px;
	color:#777777;
	}
.wb a:hover{
	background:url(../images/LOGO16.png) no-repeat left center;
	padding-left:20px;
	color:#ecdeae;
	}	
.pl a{
	background:url(../images/bg03.png) no-repeat left center;
	background-position:0 1px;
	padding-left:15px;
	color:#777777;
	}

	
	
.pl a{
	background:url(../images/bg03.png) no-repeat left center;
	background-position:0 1px;
	padding-left:17px;
	color:#777777;
	}
.pl a:hover{
	background:url(../images/bg03.png) no-repeat left center;
	background-position:0 -26px;
	padding-left:17px;
	color:#ecdeae;
	}	
	
.ck a{
	background:url(../images/bg03.png) no-repeat left center;
	background-position:0 -53px;
	padding-left:17px;
	color:#777777;
	}
.ck a:hover{
	background:url(../images/bg03.png) no-repeat left center;
	background-position:0 -80px;
	padding-left:17px;
	color:#ecdeae;
	}	
.qb	a{
	background:url(../images/bg03.png) no-repeat left center;
	background-position:0 -107px;
	padding-left:17px;
	color:#777777;
	}
.qb	a:hover{
	background:url(../images/bg03.png) no-repeat left center;
	background-position:0 -134px;
	padding-left:17px;
	color:#777777;
	}	
.red{
	color:#C00;
	}		
	
.ShowboPhoto{
	width:940px;
	margin:20px auto 0;
	height:110px;
	background:#2a2a2b;border:1px solid #505050;
	}	
.ShowboLeft{
	height:67px;
	width:21px;
	padding-left:10px;
	padding-top:22px;
	}	
.ShowboLeft a{
	display:block;
	height:83px;
	width:21px;
	background:url(../images/bg05.png) no-repeat;
	}
.ShowboLeft a:hover{
	height:67px;
	width:21px;
	background:url(../images/bg05.png) no-repeat;
	background-position:-21px 0;
	}
.ShowboRight{
	height:83px;
	width:21px;
	padding-right:10px;
	padding-top:22px;
	}	
.ShowboRight a{
	display:block;
	height:67px;
	width:21px;
	background:url(../images/bg05.png) no-repeat;
	background-position:-42px 0;
	}
.ShowboRight a:hover{
	height:67px;
	width:21px;
	background:url(../images/bg05.png) no-repeat;
	background-position:-63px 0;
	}		
	
	
.ShowboImgs{
	width:878px;
	padding-top:16px;
	}		
.Showbo_img img{
	float:left;
	padding:1px;
	border:1px solid #777777;
	margin-left:18px;
	}	
	
	
	
.comp_porod_title{
	width:958px;
	height:32px;
	border:1px solid #e5e5e5;
	background:url(../images/porod_title.gif) repeat-x;
	}	
.sm{
	width:400px;
	line-height:32px; 
	float:left; 
	padding-left:20px;
	font-weight:bold;
	}	
.sm_sj{
	float:right;
    padding-right:20px;
	padding-top:8px;
	}	
.qtcp_cont{
	width:938px;
	border:1px solid #e5e5e5;
	border-top:0;
	padding:10px;
	}	
.qtcp_cont ul li{
	text-align:center;
	float:left;
	padding-left:24px;
	padding-top:10px;
	}	
.qtcp_cont ul img{
	padding:1px;
	border:1px solid #bfbfbf;
	margin-bottom:8px;
	}				
.qtcp_cont p{
	padding-left:10px;
	}	
	
.comp_porod_sm,.comp_porod_pl{
	width:958px;
	border:1px solid #e5e5e5;
	border-top:none;
	padding-bottom:15px;
	}	
.comp_porod_sm p{
	text-indent:24px;
	line-height:22px;
	padding:15px 20px 0  20px;
	}	
	
	
.pl_bfb{
	width:930px;
	height:105px;
	border-bottom:1px solid #e5e5e5;
	margin:0 auto;
	line-height:30px;
	}	
	
.pl_g{
	padding:10px 0 0 20px;
	font-weight:bold;
	width:75px;
	}	
.pl_1{
	height:30px;
	background:url(../images/pl_1.gif) no-repeat right center;
	}
.pl_2{
	background:url(../images/pl_2.gif) no-repeat right center;
	height:30px;
	}
.pl_3{
	background:url(../images/pl_3.gif) no-repeat right center;
	height:30px;
	}		
.lp_100,.l_100{
	padding:10px 0 0 20px;
	}	
.ll_100{
	padding:15px 0 0 20px;
	}		
.lp_100 li{
	height:30px;
	width:590px;
	text-indent:-900px;
	background:url(../images/lp_100.gif) no-repeat center;
	}	
.ll_100_1{
	width:76px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:url(../images/ll_100.gif) no-repeat center;
	background-position:0 1px;
	}
.ll_100_2{
	width:76px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:url(../images/ll_100.gif) no-repeat center;
	background-position:0 -32px;
	}
.ll_100_3{
	width:76px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:url(../images/ll_100.gif) no-repeat center;
	background-position:0 -65px;
	}		

.pl_df{
	padding-top:15px;
	}
.pl_df li{
	float:left;
	height:30px;
	width:90px;
	padding-left:20px;
	line-height:30px;
	}	
	
.sry{
	width:915px;
	margin:10px 0 0 20px;
	}	
.yzm{
	padding:10px 0 0 20px;
	}	
.yzm_img{
	padding-left:10px;
	}	


.fb{
	padding:20px 0 0 20px;
	}
.fb_pl{
	width:100px;
	height:29px;
	border:none;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	background:url(../images/fb.gif) no-repeat;
	margin-right:20px;
	}	
	
.fb span{
	padding-left:20px;
	}	
.fb .red{
	padding:0;
	}	