.nav1 a{
	color:#0b70a8;}
	
.nav1 a:hover{
	color:#0b70a8;
	}

.position{
	height:33px;
	background:#f6f5f5;
	width:960px;
	margin:10px auto 0;
	line-height:33px;
	font-size:14px;
	}
.position p{
	padding-left:20px;
	}
	
.left_main{
	width:684px;
	}
/*按行业浏览*/
.industry_main{
	width:678px;
	border:1px solid #e5e5e5;
	border-top:2px solid  #A0EC9F;
	padding-bottom:10px;
	}
.left_title{
	width:658px;
	min-width:65px;
	_width:65px;
	height:auto;
	border-bottom:1px solid #e2e2e2;
	margin-left:11px;
	text-align:center;
	line-height:65px;
	font-size:18px;
	font-family: "微软雅黑";
	color:#333333;
	font-weight:500;
	}

.date{
	width:658px;
	height:30px;
	border-bottom:1px solid #e2e2e2;
	margin-left:11px;
	text-align:center;
	line-height:30px;
	}

.date_text{
	padding-left:20px;
	}
	
.date_text_last{
	padding-left:20px;
	background:url(../images/zh_tb03.gif) no-repeat right center;
	display:block;
	display:inline;
	padding:5px 50px 5px  10px;
	}


.spjs{
	width:680px;
	padding-top:10px;
}
.comp_porod_title{
	width:678px;
	height:32px;
	border:1px solid #e5e5e5;
	background:url(../images/porod_title.gif) repeat-x;
	}	
.sm{
	width:400px;
	line-height:32px; 
	padding-left:20px;
	font-weight:bold;
	float:left;
	}		
.qtcp_cont{
	width:658px;
	border:1px solid #e5e5e5;
	border-top:0;
	padding:10px;
	}
.qtcp_cont p{
	width:640px;
	margin:0 auto;
	line-height:22px;
	padding-top:10px;
	text-indent:24px;
	}
.vidcontent{
	text-align:center;
	padding:10px;	
}
	
	
.sm_sj{
	float:right;
    padding-right:20px;
	padding-top:8px;
	}	
.comp_porod_sm,.comp_porod_pl{
	width:678px;
	border:1px solid #e5e5e5;
	border-top:none;
	padding-bottom:15px;
	}	
.comp_porod_sm p{
	text-indent:24px;
	line-height:22px;
	padding:15px 20px 0  20px;
	}	
	
	
.pl_bfb{
	width:650px;
	height:105px;
	border-bottom:1px solid #e5e5e5;
	margin:0 auto;
	line-height:30px;
	}	
	
.pl_g{
	padding:10px 0 0 20px;
	font-weight:bold;
	width:75px;
	}	
.pl_1{
	height:30px;
	background:url(../images/pl_1.gif) no-repeat right center;
	}
.pl_2{
	background:url(../images/pl_2.gif) no-repeat right center;
	height:30px;
	}
.pl_3{
	background:url(../images/pl_3.gif) no-repeat right center;
	height:30px;
	}		
.lp_100,.l_100{
	padding:10px 0 0 20px;
	}	
.ll_100{
	padding:15px 0 0 20px;
	}		
.lp_100 li{
	height:30px;
	width:285px;
	text-indent:-900px;
	background:url(../images/lp_100_1.jpg) no-repeat center;
	}	
.ll_100_1{
	width:76px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:url(../images/ll_100.gif) no-repeat center;
	background-position:0 1px;
	}
.ll_100_2{
	width:76px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:url(../images/ll_100.gif) no-repeat center;
	background-position:0 -32px;
	}
.ll_100_3{
	width:76px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:url(../images/ll_100.gif) no-repeat center;
	background-position:0 -65px;
	}		

.pl_df{
	padding-top:15px;
	}
.pl_df li{
	float:left;
	height:30px;
	width:90px;
	padding-left:20px;
	line-height:30px;
	}	
	
.sry{
	width:635px;
	margin:10px 0 0 20px;
	}	
.yzm{
	padding:10px 0 0 20px;
	}	
.yzm_img{
	padding-left:10px;
	}	


.fb{
	padding:20px 0 0 20px;
	}
.fb_pl{
	width:100px;
	height:29px;
	border:none;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
	background:url(../images/fb.gif) no-repeat;
	margin-right:20px;
	}	
	
.fb span{
	padding-left:20px;
	}	
.fb .red{
	padding:0;
	}			





/*右边部分主题*/	
.right_main{
	width:268px;
	}	
/*按地区浏览*/
.area_title{
	width:268px;
	height:26px;
	border:1px solid #e5e5e5;
	background:url(../images/area_title_bg.gif) repeat-x;
	}
.title_text{
	font-size:12px;
	font-weight:bold;
	color:#333333;
	line-height:26px;
	padding-left:10px;
	float:left;
	}
		
.area_main{
	width:258px;
	border:1px solid #e5e5e5;
	border-top:0;
	margin-bottom:10px;
	padding:10px 0 10px 10px;
	}

.area_main a{
	display:inline-block;
	width:51px;
	line-height:22px;
	}
	
/*搜索排行*/
.hotpic_main{
	width:268px;
	border:1px solid #e5e5e5;
	border-top:0;
	height:380px;
	line-height:25px;
	padding-top:5px;
	margin-bottom:10px;
	}
.hotpic_main_1{
	width:255px;
	height:120px;
	padding-top:5px;
		}
	
.hotpic_main_1 div{
	float:left;
	line-height:25px;
	text-align:center;
	padding-left:5px;
	}
	
.hotpic_main img{
    padding:2px;
	margin:6px;
	border:1px solid #d3d3d3;}



.ph_main{
	width:268px;
	height:280px;
	border:1px solid #e5e5e5;
	border-top:0;
	}
	
.ph_main li{
	padding-left:12px;
	line-height:28px;
	}
.n1{
	text-align:center;
	color:#FFF;
	display:inline-block;
	width:14px;
	line-height:28px;
	background:url(../images/pic_ph_bg01.gif) no-repeat;
	background-position:left 7px;
	}
	
.n2{
	text-align:center;
	color:#000;
	display:inline-block;
	width:14px;
	line-height:28px;
	background:url(../images/pic_ph_bg01.gif) no-repeat;
	background-position:left -20px;
	}
	
.ph_main a{
    padding-left:8px;
	}

.ad{
	margin-top:10px;}
	
.text_ad{
	padding-top:20px;
	padding-left:5px;
	line-height:22px;
	}
	
.ad_text{
	color:#bf0303;
	}

	
/*
 ISConsole Copyright 2011 ruibaotong COMPANY, Co.ltd . 
 All rights reserved.
 FileName: index.css
 */