body {
    margin:0;
    padding: 0px;
    font-size: 12px;
    font-family: "宋体";
    background:white;
}
ul{
   list-style:none;
}

div, ul,li, p, h2,h3 ,table{
    margin: 0;
    padding: 0;
    border: none;
}
a{
	text-decoration:none;
	color:#073962;
	}	
a:hover{
	text-decoration:underline;
	color:#FF7300;
	}	
.f_left{
	float:left;
	}
img {
    border: 0;
}	
.clear {
    clear: both;
}





.top_main{
	width:960px;
	height:106px;
	background:#D8E7FF;
	margin:0 auto;
	overflow:hidden;
	}

.top{
	height:64px;
	margin:0 auto;
	background:url(/include/images/member/top.jpg) repeat-x;
	}
.logo{
	padding:10px 0 0  10px;
	float:left;
	}
.top_l p{
	line-height:64px;
	color:#D9E9FF;
	padding-left:10px;
	float:left;width:250px;
	}
	
.top_r{
	float:right;
	padding-right:10px;
	*padding-top:10px;
	}	
.sc{
	color:#D9E9FF;
	text-align:right;
	}	
.sear{
	padding-top:8px;
	}
.top a,.dp a{
	text-decoration:none;
	color:#D9E9FF;
	}
.top a:hover,.dp a:hover{
	text-decoration:underline;
	color:#FF7300;
	}		
/*top结束	*/
.navs{
	height:32px;
	width:960px;
	}
.nav_l{
	float:left;
	width:4px;
	height:32px;
	background:url(/include/images/member/nav_l.jpg) no-repeat;
	}
.nav_c{
	float:left;
	width:952px;
	height:32px;
	background:url(/include/images/member/nav_c.jpg) repeat-x;
	}
.nav_r{
	float:left;
	width:4px;
	height:32px;
	background:url(/include/images/member/nav_r.jpg) no-repeat;
	}	
.navs li{
	float:left
	} 
.nav_main{
	float:left;
	}	
.nav_main li{
	 width:85px;
	 height:32px;
	 text-align:center;
	 line-height:32px;
	 font-size:14px;
	 font-weight:bold;
	 display:inline;
	 background:url(/include/images/member/g.jpg) no-repeat right center;
	 }	
.nav_main a{
	margin-top:3px;
	overflow:hidden;
	color:#FFF;
	}
.nav_main a:hover{
	margin-top:3px;
	overflow:hidden;
	color:#FF7300;
	}		 
.nav_main .home1 a{
	display:inline-block;
	width:83px;
	height:29px;
	color:#073962;
	background:url(/include/images/member/g4_on.gif) no-repeat;
	}
.nav_main .home1 a:hover{
	display:inline-block;
	width:83px;
	height:29px;
	color:#FF7300;
	background:url(/include/images/member/g4_on.gif) no-repeat;
	}	
	
.dp{
	float:right;
	line-height:32px;
	font-weight:bold;
	padding-right:15px;
	width:200px
	}
.dp li{
	padding:0 10px;
	background:url(/include/images/member/g.jpg) no-repeat right center;
	}	
.dp .last{
	background:none;
	width:80px;
	}		
/*侧栏开始*/
.cont{
	width:960px;
	margin:0 auto;
	}	
.sidebar{
	width:152px;
	float:left;
	background:#DEEBFE;
	}	
.sidebar_t{
	font-size:14px;
	color:#FFF;
	width:132px;
	height:28px;
	line-height:28px;
	padding-left:20px;
	background:url(/include/images/member/menuOpen.gif) no-repeat;
	}	
.sidebar li{
	font-size:14px;
	line-height:30px;
	padding-left:25px;
	background:url(/include/images/member/treepoint.gif) no-repeat 10px center;	
	}	
.sidebar_kf{
	font-size:14px;
	color:#FFF;
	width:132px;
	height:28px;
	line-height:28px;
	padding-left:20px;
	background:url(/include/images/member/treetitle.gif) no-repeat;
	}
.sidebar .kf li{
	font-size:12px;
	line-height:25px;
	background:none;
	padding-left:10px;
	}
.sidebar .kf .tel{
	font-family:"微软雅黑";
	font-size:16px;
	color:#FB8004;
	}
/*侧栏结束	*/
.bottom{
	margin:10px auto 0;
	height:100px;
	border-top:3px solid #FF7300;
	text-align:center;
	line-height:30px;
	color:#666;
	}
.bottom_map {
	color:#073962;
	}		
.bottom_map a{
	display:inline-block;
	padding:5px 5px 0;
	}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * 公共部分结束 * * * * * * * * * * * * * * * * * * * * * * * * * * * */		
.cont_main{
	width:798px;
	float:right;
	}	
.kh{
	height:135px;
	margin-top:10px;
	}
.kh_l{
	height:135px;
	width:4px;
	float:left;
	background:url(/include/images/member/kh_l.gif) no-repeat;
	}
.kh_r{
	height:135px;
	width:4px;
	float:left;
	background:url(/include/images/member/kh_r.gif) no-repeat;
	}	
.kh_c{
	height:135px;
	width:790px;
	float:left;
	color:#FF7300;
	background:url(/include/images/member/kh_c.gif) repeat-x;
	}	
.kh_t{
	line-height:22px;
	font-size:12px;
	padding:0 0 0 24px;
	}	
.kh_add{
	text-indent:30px;
	line-height:17px;
	padding-left:10px;
	background:url(/include/images/member/mainhead.gif) no-repeat 24px top;
	}	
.kh_P{
	padding-top:3px;
	padding-left:10px;
	line-height:17px;
	}	
	
	
.main_left{
	float:left;
	width:557px;
	}	

.main_cont_t{
	height:28px;
	line-height:28px;
	width:537px;
	padding-left:20px;
	font-size:14px;
	color:#1C4E86;
	background:url(/include/images/member/cont_t.gif) no-repeat;
	}	
.main_d{
	width:555px;
	border:1px solid #C9E0FE;
	border-top:0;
	line-height:25px;
	}
.main_d li{
	padding-left:15px;
	color:#666;
	}	
.red{
	color:#C00;
	}		
	
	
	
.main_right{
	float:right;
	width:232px;
	}	
.main_side_cont{
	width:232px;
	padding-top:10px;
	}	
.main_side_t{
	height:27px;
	line-height:27px;
	width:212px;
	padding-left:20px;
	font-size:14px;
	color:#1C4E86;
	background:url(/include/images/member/cont_side_t.gif) no-repeat;
	}	
.main_sede_d{
	width:230px;
	border:1px solid #C9E0FE;
	border-top:0;
	line-height:25px;
	}	
.main_sede_d li	{
	height:25px;
	padding-left:20px;
	background:url(/include/images/member/li.jpg) no-repeat  10px  center;
	}		
	


.cont_main{
	width:798px;
	float:right;
	}	
.finder_bar_bg{
	margin-top:10px;
	width:798px;
	height:39px;	
	}
.finder_bar_bg  li{
	cursor:pointer;
	float:left;
	height:24px;
	width:56px;
	line-height:19px;
	text-align:center;
	margin-right:7px;
	background:url(/include/images/member/plcz.gif) no-repeat left center;
	}
.finder_bar_bg  li a{
	color:#000000;
	}
.cont_first_li{
	
	display:inline;

	}	
.finder_bar_bg  a,.finder_bar_bg  a:hover{
	text-decoration:none;
	
	}	
	
	

.top_td{
	height:22px;
	border-top:2px solid #F4CDA7;
	border-left:1px solid #E7E7E7;
	border-right:1px solid #E7E7E7;
	border-bottom:1px solid #E7E7E7;
	font-weight:bold;
	color:#666666;
	background:#FFF4EA;
	}	
td{
	border-bottom:1px solid #ebebeb;
	line-height:30px;
	}
table{
	border-collapse:collapse;
}
table a{
	text-decoration:none;
	color:#000;
	}
.xg{
	display:inline-block;
	padding-left:17px;
	background:url(/include/images/member/xg.gif) no-repeat left center;
	}	
.dele{
	display:inline-block;
	padding-left:17px;
	margin-left:15px;
	background:url(/include/images/member/sc.gif) no-repeat left center;
	}	
.dele,.dele:hover{
	color:#C00;
	}	
	
	
	
	
.page{
	height:27px;
	width:100%;
	line-height:27px;
	background:url(/include/images/member/bottom.gif) repeat-x;
	}	
.page ul li{
	margin:3px 0 0 10px;
	float:left;
	text-align:center;
	}	
.page ul a{
	text-decoration:none;
	color:#000;
	}	
.b_hover{
	width:19px;
	height:21px;
	background:url(/include/images/member/b_hover.jpg) no-repeat;
	}
.b_link{
	width:19px;
	height:21px;
	background:url(/include/images/member/b_a.jpg) no-repeat;
	}	
.next{
	width:56px;
	height:22px;
	background:url(/include/images/member/next.jpg) no-repeat;
	}
.up{
	width:56px;
	height:22px;
	background:url(/include/images/member/up.jpg) no-repeat;
	}				
.myxs{
	width:100px; 
	float:left;
	padding-left:20px;
	}	
.tz{
	float:left;
	padding-left:20px;
	width:200px;
	}	
.gongy{
	width:50px; 
	float:left;
	padding-left:30px;
	}	
.sy{
width:40px;
height:22px;
background:url(/include/images/member/last.jpg) no-repeat
	}	
	
	
	
.cont_main{
	width:798px;
	float:right;
	}	
.cont_title{
	font-size:14px; 
	color:#FF5400;
	margin-top:10px;
	background:#EFF2F9;
	border:0px;
	}	
.cont_title td{
	padding-left:10px;
	}
.main_cont{
	margin-top:10px;
	}	
.main_cont td{
	background:#FFF;
	padding-left:10px;
	}	
.main_cont .left_td{
	background:#EAEFF3;
	line-height:30px;
	padding-left:10px;
	text-align:right;
	padding-right:10px;
	}
.mustfield{
	color:red;
	padding-left:2px;
	}
	
.ll{
	border:0; 
	height:20px;
	width:60px; 
	font-size:12px;
	background:url(/include/images/member/ll.gif) no-repeat; 
	color:#FFF;
	}	
.sub{
	border:0; 
	height:27px;
	width:87px; 
	background:url(/include/images/member/sub.gif) no-repeat; 
	color:#FFF; 
	font-weight:bold; 
	font-size:14px;
	}			
.subbut{
	text-align:center;
	height:50px;
	}
	
	
.divceng{
	height:auto;
	border:2px solid #617E92;
	background:#E2E9EF;
	padding:10px;margin:10px;
	}
/* 系统信息提示框 */
.decorate{
  font-size:18px;width:200px;color:#FE7E03;font-weight:bold;
}
.count_down{
  font-size:14px;width:200px;color:#474747;text-align:center;margin-top:10px;
}	

.map{
	height:30px;
	margin-top:10px;
	line-height:30px;
	}	
.map p{
	width:960px;
	margin:0 auto;
	text-align:center;
	}
.map a{
	color:#07519a;
	margin-right:10px;
	padding-right:10px;
	border-right:1px solid #07519a;
	}
.order_but{
	background:url('/include/images/member/cz_bg.gif') no-repeat;
	width:74px;
	height:25px;
	color:white;
	border:0px;
	cursor:pointer;
}